<head prefix="og: http://ogp.me/ns# nodejsexpressdemo: http://ogp.me/ns/apps/nodejsexpressdemo#">
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>Event Mash Up</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="keywords" content=""/>
  <meta name="author" content="Preet"/>
  <meta name="description" content="Event Mash Up"/>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <!--
  <Opengraph>tags</Opengraph>
  -->
  <meta property="fb:app_id" content=""/>
  <meta property="og:title" content="undefined - undefined"/>
  <meta property="og:description" content=""/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:site_name" content="Event Mash Up"/>
  <link rel="stylesheet" href="/css/bootstrap.flatly.min.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
</head>